html,
body {
  font-family: "Lato" sans-serif;
  font-weight: 400;
  background-color: #fff9bb;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed" sans-serif;
  padding: 1rem 0;
  line-height: 1;
}
a:hover {
  text-decoration: none;
}
input:focus {
  outline: none;
}
