.slick-prev,
.slick-next {
  z-index: 10;
}
.slick-arrow,
.slick-arrow:hover {
  height: 40px;
  width: 40px;
}
.slick-prev {
  left: 25px;
}
.slick-next {
  right: 45px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 40px;
}

.image-gallery-left-nav:focus,
.image-gallery-right-nav:focus {
  outline: none;
}
.image-gallery-slide img {
  object-fit: cover;
  height: 300px;
}
.image-gallery-thumbnail img {
  object-fit: cover;
  height: 55px;
}
.fullscreen .image-gallery-image img {
  height: calc(100vh - 100px);
}
