.footer {
  background-color: #363636;
  padding: 2rem;
  width: 100%;
}

.footer,
.footer li,
.footer a {
  color: rgba(255, 255, 255, 0.8);
}
.contacts a {
  padding-right: 1rem;
}
.footer ul {
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
}
.footer li {
  padding: 0.5rem 0 0 0;
}
.dropdown {
  display: inline-block;
  border: none;
  background-color: #83d8e6;
  border-radius: 5px;
}
.search {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.search input {
  border-radius: 5px;
  border-color: rgba(148, 110, 61, 0.336);
}
.logo {
  height: 42px;
  width: auto;
}
logo a {
  display: flex;
  align-items: center;
}
.brand {
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: #363636;
}
.header {
  background-color: #fff;
}
.navigation {
  display: flex;
  margin-left: auto;
  margin-bottom: auto;
  padding: 1rem 0;
  text-decoration: none;
  list-style-type: none;
}
.navigation li {
  padding: 0 1rem;
}

a {
  color: #363636;
}
a:hover {
  color: #a5a5a5;
  cursor: pointer;
}
a.active {
  color: #58c6d8;
  font-weight: 500;
}
.section {
  margin-bottom: 2rem;
}
.carousel img {
  background-size: cover;
  background-position: center;
}
.car-button {
  background-color: rgba(0, 0, 0, 0.589);
  border: none;
}
.item {
  background-color: #fff;
  padding: 1rem;
  height: auto;
  position: relative;
  margin-bottom: 30px;
}
.item-image {
  background-size: cover;
  height: 200px;
  width: 100%;
  position: relative;
}
.item-image:hover::before {
  content: "";
  background-color: rgba(88, 199, 216, 0.596);
  width: 100%;
  height: 100%;
  position: absolute;
}
.item-image:hover .image-icon {
  opacity: 1;
}
.image-icon {
  color: white;
  position: relative;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  opacity: 0;
}
.item-card {
  padding-top: 1rem;
  height: 30%;
}
.white-section {
  background-color: white;
  margin: 3rem auto;
  padding: 3rem;
}
.button {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  margin-right: 0;
}
.button-group {
  margin-left: auto;
}
.icon-in-button {
  padding-left: 0.6rem;
}
.category {
  height: 250px;
  background-size: cover;
  margin-bottom: 30px;
  padding: 1rem;
  align-items: flex-end;
}
.buy:hover,
.details:hover {
  color: #7a4b03;
}
.buy,
.details {
  background: none;
  color: #4b2e03;
  cursor: pointer;
}
.price {
  align-items: start;
  display: flex;
  margin-top: 1rem;
}
.old-price {
  color: #a0a0a0;
  text-decoration: line-through;
  padding-left: 1rem;
  font-size: 0.9rem;
  align-self: center;
}
.new-price {
  font-size: 1.4rem;
  color: #63d858;
  font-weight: 500;
}
.carousel-content {
  padding: 1rem 3rem;
  background-color: #ffffffd5;
  display: flex;
  align-self: flex-end;
}
.mini-desc {
  margin-top: 0.5rem;
}

.buy-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-details input {
  height: 2rem;
}
.quantity svg {
  margin: 0 0.5rem;
}
.quantity svg:hover {
  opacity: 0.6;
}
.quantity svg:active {
  opacity: 0.3;
}
.buy-in-desc {
  background-color: #58c6d8;
  color: white;
}
.not-active {
  opacity: 0.3;
}
